.desktop-view .has-sidebar-page .d-header-wrap::before {
  content: "";
  display: inline;
  width: calc(var(--d-sidebar-width) - 1px);
  height: 4em;
  background-color: var(--sidebar-color);
  border-bottom: 1px solid var(--sidebar-border);
  border-right: 1px solid var(--sidebar-border);
  position: absolute;
}

.d-header {
  box-shadow: none;
  border-bottom: 1px solid var(--sidebar-border);
}

.d-header #site-text-logo {
  color: var(--bright-text);
  padding-left: calc(var(--d-sidebar-row-horizontal-padding) / 2);
}

.mobile-view .d-header #site-text-logo {
  font-size: var(--font-0);
  color: var(--primary);
}

.full-page-chat .chat-full-page-header {
  border-top: none;
}

.header-sidebar-toggle button {
  display: none;
}

.d-header .home-logo-wrapper-outlet {
  margin: 0;
}

.sidebar-section-link-wrapper {
  height: 4.0rem;
  margin: 0;
}

.sidebar-section-link-wrapper .sidebar-section-link{
  border-radius: 0;
}

.sidebar-section-link-wrapper .sidebar-more-section-links-details-summary{
  border-radius: 0;
}

.sidebar-row {
  height: 4.0rem;
}

.sidebar-section-wrapper .sidebar-section-header-wrapper{
  margin: 0;
  border-radius: 0;
}

.sidebar-wrapper .sidebar-sections {
  padding: 0;
}

.sidebar-wrapper .sidebar-sections {
  background-color:white;
}